*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  background-color: #111;
  color: #eee;
  margin: 0;
}

nav{
  border: 3px solid rgba(95, 158, 160, 0.651);
  border-radius: 40px;
  background-color: rgba(95, 158, 160, 0.26);
 
  height: 85px;
  width: 500px;
  align-content: center;
  position: sticky;
  top: 20px;
}
/* Modern Stylish Navbar */
nav * {
  display: flex;
  padding: 10px;
  color: #ffffff;
  align-items: center;
  position: sticky;
  top : 20px
}
ul{
  display: flex;
  padding: 0px 10px 0px 10px;
  align-self: center;
}
article{
  border: 3px solid rgba(95, 158, 160, 0.651);
  background-color:rgba(95, 158, 160, 0.26);
  border-radius: 15px;
}

section *{
  margin: 10px;

}

.set *{
  display: block;
  border: 2px dashed rgba(95, 158, 160, 0.651);
  border-radius: 10px ;

}